<!-- <mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Travella</span>
</mat-toolbar>

<router-outlet></router-outlet> -->

Personal Information

<div class="pi">
  <form>
    <label for="firstName">First Name</label>
    <input [formControl]="formGroup.controls.firstName" class="pi--fn__input">
    <label for="middleInitial">middle initial</label>
    <input [formControl]="formGroup.controls.middleInitial" class="pi--mi__input">
    <label for="lastName">Last Name</label>
    <input [formControl]="formGroup.controls.lastName" class="pi--ln__input">
    <label for="emailAddress">Email Address</label>
    <input [formControl]="formGroup.controls.emailAddress" class="pi--email__input">
    <label for="phoneNumber">Phone Number</label>
    <input [formControl]="formGroup.controls.phoneNumber" class="pi--phone__input">
  </form>
</div>


<hr>
Work Experience
<hr>

<div *ngFor="let work of workHistory; let i = index" (click)="onSelected(work, i)">
  <button class="work__remove" (click)="removeWork(i)">x</button>
  {{work.businessName}}
  {{work.title}}
  Started on {{work.start}} through {{work.end}}
</div>

<div [formGroup]="workForm">
  <label for="businessName" class="wn__input">Business Name</label>
  <input formControlName="businessName" class="wn__input">
  <label for="title">Title</label>
  <input formControlName="title" class="title__input">
  <label for="start">Start</label>
  <input formControlName="start" type="date" class="from__input">
  <ng-template *ngIf="current; else end"></ng-template>
  <ng-template #end class="to__input">
    <label for="end">End</label>
    <input formControlName="end" type="date">
  </ng-template>
  <input type="checkbox"  (click)="current = !current"> current
  <div *ngIf="!edit; else update">
    <button (click)="addWork()">Add</button>
  </div>
  <ng-template #update>
    <button (click)="updateWork()">Update</button>
  </ng-template>
</div>


<hr>
Education
<hr>

<div *ngFor="let work of workHistory; let i = index" (click)="onSelected(work, i)">
  <button class="work__remove" (click)="removeWork(i)">x</button>
  {{work.businessName}}
  {{work.title}}
  Started on {{work.start}} through {{work.end}}
</div>

<div [formGroup]="educationForm">
  <label for="educationName" class="wn__input">School</label>
  <input formControlName="eduName" class="wn__input">
  <label for="degreeType">Degree Type</label>
  <input formControlName="degreeType" class="title__input">
  <label for="major">Major</label>
  <input formControlName="major" class="title__input">
  <label for="start">Start</label>
  <input formControlName="start" type="date" class="from__input">
  <ng-template *ngIf="current; else end"></ng-template>
  <ng-template #end class="to__input">
    <label for="end">End</label>
    <input formControlName="end" type="date">
  </ng-template>
  <input type="checkbox"  (click)="current = !current"> current
  <div *ngIf="!edit; else update">
    <button (click)="addEdu()">Add</button>
  </div>
  <ng-template #update>
    <button (click)="updateEdu()">Update</button>
  </ng-template>
</div>


